<div class="container text-center">
    <br>
    <h3 class="text-center text-danger fontS">Reset Password Panel</h3>
    <small class="text-danger">Select a Name. Entire User information will be displayed below the drop down to help Cross-Verify. Names are sorted.</small>
    <br><br>
    <form novalidate #changeP="ngForm" (submit)="resetPassword($event.target)" *ngIf="!loading">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Select User:</mat-label>
                        <mat-select [(ngModel)]="id" name="us" (selectionChange)="searchUser()" required>
                            <mat-option value=""> -- Select -- </mat-option>
                            <mat-option *ngFor="let user of usersData" [value]="user._id"> {{user.name}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <div *ngIf="selectedUser" style="text-align: left;">
                    <p style="margin: 0px;"> <span class="text-secondary">Name:</span> {{selectedUser.name}}
                        <mat-icon class="text-success" *ngIf="selectedUser.verified">check_circle</mat-icon>
                    </p>
                    <p style="margin: 0px;"> <span class="text-secondary">Email ID:</span> {{selectedUser.email}} </p>
                    <p style="margin: 0px;"> <span class="text-secondary">Contact#:</span> {{selectedUser.contact}} </p>
                    <p style="margin: 0px;"> <span class="text-secondary">Stream:</span> {{selectedUser.stream}} </p>
                    <p style="margin: 0px;"> <span class="text-secondary">Year:</span> {{selectedUser.year}} </p>
                    <p style="margin: 0px;"> <span class="text-secondary">College:</span> {{selectedUser.instituteName}} </p>
                    <br>
                </div>
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Type in Password:</mat-label>
                        <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="newPassword" required />
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Re-type Password:</mat-label>
                        <input matInput type="password" placeholder="Password Once Again" name="password2" [(ngModel)]="confirmNewPassword" required />
                        <mat-hint color="warn" *ngIf="newPassword != confirmNewPassword"> Passwords do not match </mat-hint>
                    </mat-form-field>
                </p>
                <button mat-raised-button color="secondary" type="submit"
                    [disabled]="changeP.form.invalid || newPassword != confirmNewPassword">Confirm & Reset</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>
</div>
<br>
<div class="loader-holder" *ngIf="loading">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>