<mat-toolbar class="mat-elevation-z8"  *ngIf="isLogin()">
    <mat-toolbar-row>
        <button mat-icon-button style="outline: none !important" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="navigator('profile')">My Profile</button>
            <button mat-menu-item (click)="navigator('account')">Event Registration</button>
            <button mat-menu-item (click)="navigator('queries')">Queries</button>
            <button mat-menu-item (click)="navigator('userlist')" *ngIf="isAdmin()">User List</button>
            <button mat-menu-item (click)="navigator('addcategoryevent')" *ngIf="isAdmin()">Add Events</button>
            <button mat-menu-item (click)="navigator('resetpassword')" *ngIf="isAdmin()">Reset Password</button>
            <!-- <button mat-menu-item (click)="navigator('settings')" *ngIf="isAdmin()">Settings</button>
            <button mat-menu-item (click)="navigator('downloadsection')" *ngIf="isAdmin()">Download Section</button>
            <button mat-menu-item (click)="navigator('certificate')" *ngIf="isAdmin()">Upload Certificates</button> -->
        </mat-menu>
        <span class="fontS">{{userdata.name}}</span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="logOut()" title="Logout"><mat-icon>power_settings_new</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>