<br>
<div class="container">
    <h1 class="text-center text-danger header">My Registration Info</h1>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="row fontS">
                <div class="col-sm-5 text-secondary"><h5>Name:</h5></div>
                <div class="col-sm-7"><h5> {{userData.name}} </h5></div>
            </div>
            <br>
            <div class="row fontS">
                <div class="col-sm-5 text-secondary"><h5>Email ID:</h5></div>
                <div class="col-sm-7"><h5> {{userData.email}} </h5></div>
            </div>
            <br>
            <div class="row fontS">
                <div class="col-sm-5 text-secondary"><h5>Stream:</h5></div>
                <div class="col-sm-7"><h5> {{userData.stream}} </h5></div>
            </div>
            <br>
            <div class="row fontS">
                <div class="col-sm-5 text-secondary"><h5>Year:</h5></div>
                <div class="col-sm-7"><h5> {{userData.year}} </h5></div>
            </div>
            <br>
            <div class="row fontS">
                <div class="col-sm-5 text-secondary"><h5>Contact Number:</h5></div>
                <div class="col-sm-7"><h5> {{userData.contact}} </h5></div>
            </div>
            <br>
            <div class="row fontS">
                <div class="col-sm-5 text-secondary"><h5>College Name:</h5></div>
                <div class="col-sm-7"><h5> {{userData.instituteName}} </h5></div>
            </div>
            <br>
            <div class="row fontS">
                <div class="col-sm-5 text-secondary font-bold"><h5>RC ID:</h5></div>
                <div class="col-sm-7 text-danger font-bold"><h5> {{userData.rcid}} </h5></div>
            </div>
            <br>
        </div>
        <div class="col-sm-6">
            <div class="row fontS">
                <div class="col-sm-6 text-secondary"><h5>Event Registration:</h5></div>
                <div class="col-sm-6" *ngIf="userData.eventRegDetails.receipt.length==0">Event not registered</div>
                <div class="col-sm-6">
                    <ng-container *ngFor="let rr of userData.eventRegDetails.receipt; let k=index">
                    <h5 class="fontS" *ngIf="rr!=''">Paid INR {{userData.eventRegDetails.total[k]}}/- <br> UPI ID: {{userData.eventRegDetails.upiId[k]}}</h5>
                    <a [href]="receiptUrl+userData._id+'/receipt'+(k+1)+'.'+userData.eventRegDetails.receipt[k]">Download Receipt</a>
                    <br><br>
                    </ng-container>
                </div>
            </div>
            <br>
            <div class="row fontS" *ngIf="userData.eventRegDetails.total.length > 0">
                <div class="col-sm-6 text-secondary"><h5>Registration Verification:</h5></div>
                <div class="col-sm-6" *ngIf="userData.verified "><h5>Complete</h5></div>
                <div class="col-sm-6 text-danger" *ngIf="!userData.verified "><h5>Pending...</h5></div>
            </div>
            <br>
            <div class="row fontS" *ngIf="userData.eventRegDetails.total.length > 0">
                <div class="col-sm-6 text-secondary"><h5>Registered Events:</h5></div>
                <div class="col-sm-6"><h5 *ngFor="let re of registeredEvents"> {{re.name}} <span class="header text-danger">({{re.category}})</span></h5></div>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="container">
    <!-- <br><br>
	<h2 class="header text-center text-danger">Change Password</h2>
    <br> -->
    <br>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class=col-sm-8 *ngIf="!changePassword">
            <p class="fontS"><button mat-raised-button (click)="changePassword = true">Change Password ?</button></p>
        </div>
        <div class="col-sm-8" *ngIf="changePassword">
            <div class="col-sm-6">
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Type in Your Old Password:</mat-label>
                        <input matInput type="password" placeholder="Old Password" name="oldPassword" [(ngModel)]="oldPassword" required />
                    </mat-form-field>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Type in Your New Account Password:</mat-label>
                        <input matInput type="password" placeholder="Password" name="password" (input)="compare()" [(ngModel)]="newPassword" required />
                    </mat-form-field>
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Re-type New Account Password:</mat-label>
                        <input matInput type="password" placeholder="Password Once Again" name="password2" (input)="compare()" [(ngModel)]="temp2" required />
                        <mat-hint *ngIf="errorPassword"> Passwords do not match </mat-hint>
                    </mat-form-field>
                </p>
            </div>
            <div class="col-sm-6">
                <button mat-raised-button color="primary" [disabled]="errorPassword || oldPassword == '' || temp2 == ''" (click)="changeUserPassword()">Change</button>
    
                <button mat-raised-button color="warn" (click)="changePassword = false">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="loader-holder" *ngIf="loading">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>