  <mat-vertical-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter your registered email id</ng-template>
        <mat-form-field>
          <mat-label>
            Email Id
          </mat-label>
          <input 
           matInput
           placeholder="Enter registered email"
           formControlName="firstCtrl"
           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
           required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Send OTP</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Enter 6 digit OTP sent in your email</ng-template>
        <mat-form-field>
          <mat-label>
            OTP
          </mat-label>
          <input
            matInput
            type="text"
            formControlName="secondCtrl"
            placeholder="XXXXXX"
            maxlength=6
            minlength=6
            required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  

