<div class="container"> 
    <h1 class="header text-danger text-center">All Categories</h1>
    <br>
    <div class="row">
        <div class="col-sm-3 text-secondary">
            <h5>Category</h5>
        </div>
        <div class="col-sm-3 text-secondary">
            <h5>Contacts</h5>
        </div>
        <br>
        <div class="col-sm-2 text-secondary">
            <h5>Select / Deselect</h5>
        </div>
        <div class="col-sm-4 text-secondary" *ngIf="isAdmin()">
            <h5>Add Contacts</h5>
        </div>
        <div class="col-sm-4" *ngIf="!isAdmin()"></div>
    </div>
    <br>
    <ng-container *ngFor="let queryData of queriesData; let i=index">
        <div class="row">
            <div class="col-sm-3">
                <h5 class="header text-danger">{{queryData.categoryName}} </h5>
            </div>
            <div class="col-sm-3">
                <span class="fontS" *ngIf="queryData.contacts.length==0">No Added Contacts</span>
                <span class="fontS" *ngFor="let contact of queryData.contacts">{{contact.name}} <span class="header text-danger">({{contact.phone}})</span><br></span>
            </div>
            <br>
            <div class="col-sm-2">
                <button mat-raised-button *ngIf="queryId != i" (click)="selectQuery(i)">See Discussion</button>
                <button mat-raised-button *ngIf="queryId == i" (click)="selectQuery(i)">Hide Discussion</button>
            </div>
            <div class="col-sm-4" *ngIf="isAdmin()">
                <button mat-icon-button (click)="openAddContact(i)" title="Add Contact"><mat-icon>add_circle_outline</mat-icon></button>
            </div>
            <div class="col-sm-4" *ngIf="!isAdmin()"></div>
        </div>
        <br>
    </ng-container>
    <hr>
    <div *ngIf="queryId != -1"> 
        <br>
        <div class="col-sm-12">
            <h2 class="header text-danger text-center">{{queriesData[queryId].categoryName}}</h2>
            <form #queryForm="ngForm" novalidate>
        <!-- <h3 class="text-secondary fontS">Add Event Category:</h3> -->
                <div class="row">
                    <div class="col-sm-10">
                        <p>
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Add Message:</mat-label>
                                <input matInput type="text" 
                                    placeholder="Add Message" 
                                    name="messageQuery" 
                                    [(ngModel)]="message"
                                    required />
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <div>
                            <button mat-raised-button color="primary" (click)="addMessage()"
                                [disabled]="queryForm.form.invalid">Send message</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="text-secondary">
                <div *ngFor="let message of queriesData[queryId].messages; let i=index">
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-sm-6"><h5 class="fontS text-white"> {{message.msg}} </h5></div>
                        <div class="col-sm-3 text-white">
                            <h5 *ngIf="message.name != 'ADMIN'"> {{message.name}} ({{message.email}}) </h5>
                            <h5 class="fontS text-white" *ngIf="message.name == 'ADMIN'">ADMIN</h5>
                        </div>
                        <div class="col-sm-2 text-white">
                            {{message.createdAt |date: 'HH:mm'}}
                        </div>
                        <div class="col-sm-1">
                            <button mat-icon-button (click)="deleteMessage(i)" *ngIf="isAdmin() || message.email == userData.email">
                                <mat-icon color="warn">delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
<div class="loader-holder" *ngIf="loading">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>