<div class="row">
    <div class="col-sm-8" style="padding: 2% 5%;">
        <h1 class="display-4 text-center header" *ngIf="!loading">{{settings.title}}</h1>
        <hr>
        <p *ngIf="!loading" [innerHTML]="settings.description"></p>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <img *ngIf="settings.banner != 'NA'" [src]="settings.banner" style="width: 100%;" />
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="col-sm-4" style="padding: 2% 5%;">
        <br />
        <h3 class="text-center text-danger header">Login</h3>
        <br>
        <form #loginForm="ngForm" (submit)="login($event.target)" novalidate>
            <p>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Email:</mat-label>
                    <input
                     matInput 
                     type="text" 
                     placeholder="Registered Email" 
                     name="email"
                     #contactemail="ngModel"
                     [(ngModel)]="email"
                     pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                     required 
                    />
                    <mat-hint class="text-danger" *ngIf="contactemail.errors && contactemail.errors.pattern"> Invalid email </mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Your Account Password" name="password"
                        [(ngModel)]="password" required />
                </mat-form-field>
            </p>
            <p>
                <button mat-raised-button type="submit"
                    [disabled]="loginForm.form.invalid">Login</button>
            </p>
            <!-- <p>
                <a routerLink="/forgotpassword">Forgot Password</a>
            </p> -->
        </form>
        <br>
        <p class="fontS text-center">Not Registered Yet!
            <button mat-raised-button color="warn" routerLink="/register">Register</button>
        </p>
        <hr>
        <br>
        <h4 *ngIf="registration && !loading" class="fontS text-secondary text-center">Registration Ends:<br><span class="text-danger">{{settings.registration_ends}}</span></h4>
        <h4 *ngIf="!registration && !loading" class="fontS text-secondary text-center">Competition Starts:<br><span class="text-danger">{{settings.startTime}}</span></h4>
        <h4 *ngIf="!registration && !loading" class="fontS text-secondary text-center">Competition Ends:<br><span class="text-danger">{{settings.endTime}}</span></h4>
    </div>
</div>

<div class="loader-holder" *ngIf="loading">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>