<br>
<!-- <div class="container" *ngIf="userData.total > 0">
    <h1 class="header text-danger">Event Registration is Complete. You can Check Verification Status in Profile.</h1>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center text-danger header">Event Registration</h1>
            <small class="text-secondary text-center">The events which are marked <mat-icon class="text-danger">check_circle</mat-icon> will be eligible for discount when a valid coupon code is applied.</small>
            <br><br>
            <mat-accordion class="example-headers-align mat-elevation-z8" multi>
            <ng-container *ngFor="let categoryData of categoryDatas; let i=index">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <!-- <div class="row">
                        <div class="col-sm-5">{{categoryData.category}} ({{categoryData.eventCount}} Events, {{categoryData.comboCount}} Combos)</div>
                        <div class="col-sm-7">{{categoryData.description}}</div>
                    </div> -->
                    <mat-panel-title class="header">
                        {{categoryData.category}} ({{categoryData.eventCount}} Events, {{categoryData.comboCount}} Combos)
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="fontS" style="color: #B0B0B0;">
                            {{categoryData.description}}
                        </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
              
                <ng-container *ngFor="let event of categoryData.events; let i=index">
                    <br *ngIf="i%2 == 0">
                    <mat-card *ngIf="event.show && !event.registered" class="col-sm-6 example-card mat-elevation-z8" style="display: inline-block; background: #303030;">
                        <mat-card-header>
                            <mat-card-title>
                                <mat-checkbox class="header text-danger" color="warn" (click)="eventRegistration(categoryData._id,event)">
                                    {{event.name}} @ {{event.fees ? 'INR '+event.fees+'/-' : 'FREE'}} <mat-icon class="text-danger" *ngIf="event.couponApplicable">check_circle</mat-icon>
                                </mat-checkbox>
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="fontS">
                            <p style="color: rgba(255,255,255,.7);"> 
                                {{event.description}}
                            </p>
                            <ng-container *ngIf="event.extra && event.visible">
                                <mat-form-field style="width: 60%;">
                                    <mat-label>Extra Quantity:</mat-label>
                                    <span matPrefix>INR &nbsp;&nbsp;</span>
                                    <mat-select [(ngModel)]="event.extraAmount" name="extraAmount" (selectionChange)="addAmount(categoryData._id,event)" required>
                                        <mat-option value="0">0</mat-option>
                                        <mat-option value="1"> 1 </mat-option>
                                        <mat-option value="2"> 2 </mat-option>
                                    </mat-select>
                                    <!-- <input matInput type="number" min="0" max="2" placeholder="Extra Quantity" (input)="addAmount(categoryData._id,event)" name="extraAmount" [(ngModel)]="event.extraAmount" /> -->
                                    <span matSuffix> &nbsp;&nbsp;&times; {{event.extraMoney}}/-</span>
                                </mat-form-field> 
                            </ng-container>
                        </mat-card-content>
                    </mat-card>
                    <mat-card *ngIf="event.registered" class="col-sm-6 example-card mat-elevation-z8" style="display: inline-block; background: #303030;">
                        <mat-card-header>
                            <mat-card-title>
                                {{event.name}} @ {{event.fees ? 'INR '+event.fees+'/-' : 'FREE'}} 
                                <mat-icon class="text-danger" *ngIf="event.couponApplicable">check_circle</mat-icon>
                                (Already Registered)
                            </mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content class="fontS">
                            <p style="color: rgba(255,255,255,.7);"> 
                                {{event.description}}
                            </p>
                        </mat-card-content>
                    </mat-card>
                    <span class="example-spacer" *ngIf="i%2 == 0"></span>
                    <br *ngIf="i%2 == 1">
                </ng-container>
            </mat-expansion-panel>
            <br>
            </ng-container>
            </mat-accordion>            
        </div>
    </div>
</div>
<br><br>
<!-- <div class="container" style="width: 100% !important;"> -->
<div class="row text-center fontS" style="background: #202020; padding: 1% 1% 0% 1% !important;">
    <div class="col-sm-4 text-center">
        <mat-form-field appearance="legacy" style="width: 80%;" *ngIf="temp == 0">
            <mat-label>Enter Coupon Code here</mat-label>
            <input matInput type="text" placeholder="Coupon Code Please" name="cc" [(ngModel)]="cCode" />
        </mat-form-field>
        <mat-chip-list class="text-center" *ngIf="temp != 0">Coupon Applied:<mat-chip style="background: #dc3545; color: white; font-weight: bold;">{{cCode}}</mat-chip><br><br></mat-chip-list>
    </div>
    <div class="col-sm-4">
        <button mat-raised-button (click)="apply()" *ngIf="temp == 0" [disabled]="totalC == 0 || cCode == ''">Apply Coupon</button>
        <button mat-raised-button color="warn" (click)="remove()" *ngIf="temp != 0">Remove Coupon</button>
        <button mat-raised-button (click)="openDialog()">Payment Instructions</button>
    </div>
    <div class="col-sm-4 text-center">
        <mat-form-field appearance="legacy" style="width: 80%;">
            <mat-label>Enter UPI Transaction ID</mat-label>
            <input matInput type="text" placeholder="UTR Please" name="upi" (input)="checkAlphabet($event)" [(ngModel)]="upiId" />
        </mat-form-field>
    </div>
    <div class="col-sm-4" *ngIf="temp != 0">
        <p>Coupon Photo:</p>
        <label class="btn btn-outline-danger" for="fileInput2" style="width: 80%">{{ couponPhoto ? "Choose Other File" : "Choose File" }}
            <input type="file" hidden id="fileInput2" accept="image/*, .pdf"
                (change)="fileRead($event.target.files, false)" required>
        </label>
        <p>{{ couponPhoto ? 'File Chosen: ' + couponPhoto.name : "No File Chosen" }}</p>
    </div>
    <div class="col-sm-4" *ngIf="temp == 0">
        <br><br>
    </div>
    <div class="col-sm-4">
        <p>Upload Payment Receipt:<span class="text-danger">*</span></p>
        <label class="btn btn-outline-danger" for="fileInput3" style="width: 80%">{{ paymentReceipt ? "Choose Other File" : "Choose File" }}
            <input type="file" hidden id="fileInput3" accept="image/*, .pdf"
                (change)="fileRead($event.target.files, true)" required>
        </label>
        <p>{{ paymentReceipt ? 'File Chosen: ' + paymentReceipt.name : "No File Chosen" }}</p>
    </div>
    <div class="col-sm-4">
        <button mat-raised-button (click)="eventPayment()" [disabled]="totalC + totalO == 0 || !paymentReceipt || !upiId ">Register for events</button>
    </div>
</div>
<br><br>
<!-- <div class="container" style="width: 100% !important;"> -->
    <div class="text-center fontS" style="position: fixed; width: 100% !important; bottom: 0; background: #202020; padding: 1% !important;">
        <h5 *ngIf="coupon.couponCode">Total Amount (INR): {{totalO}} + <span *ngIf="temp == 0">{{totalC}}</span><span *ngIf="temp != 0"><s>{{totalC + temp}}</s> {{totalC}} </span> = {{totalC + totalO}}/- </h5>
        <h5 *ngIf="!coupon.couponCode && !loading">Total Amount (INR): {{totalO + totalC}}  </h5>
    </div>
<!-- </div> -->
<div class="loader-holder" *ngIf="loading">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>