<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <br>
            <h4 class="text-center text-warning fontS">Registration Info</h4>
            <br>
            <div class="row fontS">
                <div class="col-sm-4 text-info"><h5>Name:</h5></div>
                <div class="col-sm-8"><h5> {{userData.name}} </h5></div>
            </div>
            <br>
            <div class="row fontS">
                <div class="col-sm-4 text-info"><h5>Email ID:</h5></div>
                <div class="col-sm-8"><h5> {{userData.email}} </h5></div>
            </div>
            <br>
            <div class="row fontS">
                <div class="col-sm-4 text-info"><h5>Stream:</h5></div>
                <div class="col-sm-8"><h5> {{userData.stream}} </h5></div>
            </div>
            <br>
            <div class="row fontS">
                <div class="col-sm-4 text-info"><h5>Year:</h5></div>
                <div class="col-sm-8"><h5> {{userData.year}} </h5></div>
            </div>
            <br>
            <div class="row fontS">
                <div class="col-sm-4 text-info"><h5>Contact Number:</h5></div>
                <div class="col-sm-8"><h5> {{userData.contact}} </h5></div>
            </div>
            <br>
            <div class="row fontS">
                <div class="col-sm-4 text-info"><h5>College Name:</h5></div>
                <div class="col-sm-8"><h5> {{userData.instituteName}} </h5></div>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <h4 class="text-center text-warning fontS">Event Info</h4>
            <br>
            <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel *ngFor="let categoryData of categoryDatas; let i=index">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{categoryData.category}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{categoryData.description}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
              
                <mat-card class="col-sm-4 example-card mat-elevation-z8" style="display: inline-block;" *ngFor="let event of categoryData.events; let i=index">
                    <mat-card-header>
                        <mat-card-title><mat-checkbox color="warn" (click)="eventRegistration(categoryData._id,event)"> {{event.name}} @ INR {{event.fees}}/- </mat-checkbox></mat-card-title>
                        <mat-card-subtitle>{{categoryData.category}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p> {{event.description}} </p>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                    </mat-card-actions> -->
                </mat-card>

            </mat-expansion-panel>
            </mat-accordion>
              
            <!-- <div class="row" *ngFor="let categoryData of categoryDatas; let i=index">
                <br><hr>
                <div class="col-sm-4">
                    <div class="row fontS">
                        <div class="col-sm-6 text-info"><h5>Category:</h5></div>
                        <div class="col-sm-6"><h5> {{categoryData.category}} </h5></div>
                    </div>
                    <br>
                    <div class="row fontS">
                        <div class="col-sm-6 text-info"><h5>Description:</h5></div>
                        <div class="col-sm-6"><h5> {{categoryData.description}} </h5></div>
                    </div>
                </div>
                <div class="col-sm-8">

                        <div class="text-info"><h5>Events in this category:</h5></div>
                        <div class="row fontS">
                            <div class="col-sm-2 text-info"><h5>S.No</h5></div>
                            <div class="col-sm-4 text-info"><h5> Name </h5></div>
                            <div class="col-sm-4 text-info"><h5> Description </h5></div>
                            <div class="col-sm-1 text-info" *ngIf="!eventRegistered"><h5> Fees </h5></div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row" *ngFor="let event of categoryData.events; let i=index">
                            <br>
                                <div class="col-sm-2"><h5>{{i+1}}:</h5></div>
                                <div class="col-sm-4"><h5> {{event.name}} </h5></div>
                                <div class="col-sm-4"><h5> {{event.description}} </h5></div>
                                <div class="col-sm-1" *ngIf="!eventRegistered"><h5> {{event.fees}} </h5></div>
                                <div class="col-sm-1" *ngIf="!eventRegistered">
                                    <mat-checkbox color="warn" (click)="eventRegistration(categoryData._id,event)">Register</mat-checkbox>
                                </div>
                        </div>

                </div>
            </div> -->
            
        </div>
    </div>
</div>
<br><br><br><br>
<!-- <div class="container" style="width: 100% !important;"> -->
    <div class="row text-center" style="position: fixed; width: 100% !important; bottom: 0; background: #636363; padding: 1% !important;">
        <div class="col-sm-6"><h5>Total Amount: INR {{total}}/-</h5></div>
        <div class="col-sm-6">
            <button mat-raised-button color="secondary" (click)="eventPayment()">Register for events</button>
        </div>
    </div>
<!-- </div> -->
<div class="loader-holder" *ngIf="loading">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>